In [51]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import networkx as nx

In [52]:
df = pd.read_csv("STEAM-Mayo2019/steam.csv")

df.shape

(27075, 18)

In [53]:
data = df[['name', 'steamspy_tags', 'owners']]
data.shape

(27075, 3)

In [54]:
data.isnull().values.any()

False

In [55]:
data

,name,steamspy_tags,owners
0,Counter-Strike,Action;FPS;Multiplayer,10000000-20000000
1,Team Fortress Classic,Action;FPS;Multiplayer,5000000-10000000
2,Day of Defeat,FPS;World War II;Multiplayer,5000000-10000000
3,Deathmatch Classic,Action;FPS;Multiplayer,5000000-10000000
4,Half-Life: Opposing Force,FPS;Action;Sci-fi,5000000-10000000
...,...,...,...
27070,Room of Pandora,Adventure;Indie;Casual,0-20000
27071,Cyber Gun,Action;Indie;Adventure,0-20000
27072,Super Star Blast,Action;Indie;Casual,0-20000
27073,New Yankee 7: Deer Hunters,Indie;Casual;Adventure,0-20000
27074,Rune Lord,Indie;Casual;Adventure,0-20000

In [56]:
data = data.rename(columns={'name': 'name', 'steamspy_tags' : 'tags'})
data

,name,tags,owners
0,Counter-Strike,Action;FPS;Multiplayer,10000000-20000000
1,Team Fortress Classic,Action;FPS;Multiplayer,5000000-10000000
2,Day of Defeat,FPS;World War II;Multiplayer,5000000-10000000
3,Deathmatch Classic,Action;FPS;Multiplayer,5000000-10000000
4,Half-Life: Opposing Force,FPS;Action;Sci-fi,5000000-10000000
...,...,...,...
27070,Room of Pandora,Adventure;Indie;Casual,0-20000
27071,Cyber Gun,Action;Indie;Adventure,0-20000
27072,Super Star Blast,Action;Indie;Casual,0-20000
27073,New Yankee 7: Deer Hunters,Indie;Casual;Adventure,0-20000
27074,Rune Lord,Indie;Casual;Adventure,0-20000

In [57]:
data.iloc[np.where(data['name'].duplicated() == True)]

,name,tags,owners
4673,Dark Matter,Action;Casual;Indie,100000-200000
7912,Ultimate Arena,Action;Indie;FPS,0-20000
8227,New York Bus Simulator,Simulation,0-20000
9471,Taxi,Casual,0-20000
10337,Mars 2030,Simulation;Mars;Space,0-20000
11450,Rumpus,Action;Indie;Casual,0-20000
14286,Invasion,Action;Indie;Arcade,0-20000
15544,Alter Ego,RPG;Casual;Simulation,0-20000
15617,Castles,Strategy;Adventure,0-20000
15622,Luna,Action;Indie;Puzzle-Platformer,0-20000
16238,Slice&Dice,Casual;Indie;Simulation,0-20000
16377,Killing Time,Nudity;RPG;Sexual Content,100000-200000
16742,The Tower,Adventure;Indie;VR,0-20000
17587,Colony,Simulation;Strategy;Indie,0-20000
17777,Beyond the Wall,Indie;Adventure;Casual,0-20000
18507,Solitaire,Indie;Casual;Simulation,0-20000
18865,Escape Room,Early Access;Adventure;Simulation,0-20000
18898,Escape,Action;Adventure;Indie,0-20000
19483,Dodge,Indie;Casual,0-20000
19686,Mystical,Action,0-20000
20833,The Great Escape,Action;Strategy;Adventure,0-20000
21271,Bounce,Indie;Casual,0-20000
21767,City Builder,Indie;Casual;Simulation,0-20000
21780,RUSH,Action;Simulation;Racing,20000-50000
21986,Dark Matter,Action;Indie,0-20000
22216,Evolution,Casual,0-20000
22740,Alone,Adventure;Indie;Casual,0-20000
22868,Scorch,Free to Play;Indie;Casual,50000-100000
23622,The Mine,Free to Play;Indie;Horror,0-20000
23683,Ashes,Action;Adventure;Indie,0-20000
23708,Exodus,Early Access;Action;Indie,0-20000
23810,Space Maze,Action;Indie;Casual,0-20000
23824,Nightmare Simulator,Action;Adventure;Indie,0-20000
24022,Fireflies,Action;Adventure;Indie,0-20000
24968,Surge,Action;Indie;Adventure,0-20000
25663,Santa's Workshop,Casual;Simulation,0-20000
25743,Chaos Theory,Early Access;Adventure;Indie,0-20000
25792,Zombie Apocalypse,Early Access;Action;Casual,0-20000
26029,Cortex,Action,0-20000
26276,Hide and Seek,Early Access;Action;Massively Multiplayer,0-20000
26418,Experience,RPG;RPGMaker,0-20000
26587,2048,Indie;Casual;Simulation,0-20000

In [58]:
data[data.name == 'Cortex']

         name                   tags   owners
23846  Cortex  Casual;Indie;Strategy  0-20000
26029  Cortex                 Action  0-20000

In [59]:
data = data.drop(data[data['name'].duplicated() == True].index)
data.shape

(27033, 3)

In [60]:
data.iloc[np.where(data['name'].duplicated() == True)]

Empty DataFrame
Columns: [name, tags, owners]
Index: []

In [11]:
data.iloc[np.where(data['owners'] == '0-20000')]

                             name                    tags   owners
122           Poker Superstars II               Card Game  0-20000
124      RACE: Caterham Expansion       Racing;Simulation  0-20000
145                 Zen of Sudoku     Casual;Indie;Puzzle  0-20000
188                         Azada     Casual;Indie;Puzzle  0-20000
248                Haunted House™               Adventure  0-20000
...                           ...                     ...      ...
27070             Room of Pandora  Adventure;Indie;Casual  0-20000
27071                   Cyber Gun  Action;Indie;Adventure  0-20000
27072            Super Star Blast     Action;Indie;Casual  0-20000
27073  New Yankee 7: Deer Hunters  Indie;Casual;Adventure  0-20000
27074                   Rune Lord  Indie;Casual;Adventure  0-20000

[18558 rows x 3 columns]

In [12]:
data = data.drop(data[data['owners'] == '0-20000'].index)
data.shape

(8475, 3)

In [13]:
data.iloc[np.where(data['owners'] == '0-20000')]

Empty DataFrame
Columns: [name, tags, owners]
Index: []

In [14]:
data.head()

                        name                          tags             owners
0             Counter-Strike        Action;FPS;Multiplayer  10000000-20000000
1      Team Fortress Classic        Action;FPS;Multiplayer   5000000-10000000
2              Day of Defeat  FPS;World War II;Multiplayer   5000000-10000000
3         Deathmatch Classic        Action;FPS;Multiplayer   5000000-10000000
4  Half-Life: Opposing Force             FPS;Action;Sci-fi   5000000-10000000

In [61]:
import collections

tags = {}
for i in data.tags:
    for t in i.split(';'):
        if(tags.get(t)):
            c = tags.get(t) + 1
            tags.update({t: c})
        else:
            tags.update({t: 1})

# tags = sorted(tags)
# Ordenado por numero
tags = sorted(tags, key=tags.get, reverse=True)
print("Tags :", len(tags))
print(tags)

Tags : 339
['Indie', 'Action', 'Casual', 'Adventure', 'Strategy', 'Simulation', 'Early Access', 'RPG', 'Free to Play', 'Puzzle', 'VR', 'Sports', 'Racing', 'Platformer', 'Nudity', 'Sexual Content', 'Visual Novel', 'Violent', 'Anime', 'Horror', 'Point & Click', 'Gore', 'Hidden Object', 'Multiplayer', 'FPS', 'Massively Multiplayer', 'Pixel Graphics', "Shoot 'Em Up", 'Open World', 'Survival', 'Space', 'Arcade', 'Female Protagonist', 'RPGMaker', 'RTS', 'Turn-Based', 'Classic', 'Tower Defense', 'Card Game', '2D', 'Singleplayer', 'Story Rich', 'Zombies', 'Sci-fi', 'Utilities', 'World War II', 'Great Soundtrack', 'Co-op', 'Match 3', 'Fighting', 'Management', 'Fantasy', 'Retro', 'Music', 'Board Game', 'Rogue-like', 'Turn-Based Strategy', 'Shooter', 'Bullet Hell', 'Sandbox', 'JRPG', 'Stealth', 'First-Person', 'Comedy', 'Family Friendly', 'Atmospheric', 'Difficult', 'Education', 'Hack and Slash', 'Local Multiplayer', 'Design & Illustration', 'Memes', 'Psychological Horror', 'City Builder', 'Historical', 'Mystery', 'Flight', 'Clicker', 'Building', 'Driving', 'Cyberpunk', 'Puzzle-Platformer', 'Metroidvania', 'Local Co-Op', 'Funny', 'Walking Simulator', 'Exploration', 'Animation & Modeling', 'Physics', 'Tactical', 'Medieval', 'Survival Horror', 'Rhythm', "Beat 'em up", 'Relaxing', 'Dungeon Crawler', 'Twin Stick Shooter', '4 Player Local', 'Third-Person Shooter', 'Detective', '3D Platformer', '2D Fighter', 'Post-apocalyptic', 'Cute', 'Naval', 'Otome', '4X', 'Trains', 'Mature', 'Mechs', 'Dinosaurs', 'FMV', 'Grand Strategy', 'Time Management', 'Dating Sim', 'Choices Matter', 'Video Production', 'Pirates', 'MMORPG', 'Minimalist', 'Warhammer 40K', 'Choose Your Own Adventure', 'Star Wars', 'Top-Down Shooter', 'Base-Building', 'Lovecraftian', 'Programming', 'Third Person', 'War', 'VR Only', 'Steampunk', 'Agriculture', 'Battle Royale', 'Western', 'World War I', 'Parkour', 'Game Development', 'Crafting', 'Text-Based', 'Superhero', 'Top-Down', 'LEGO', 'Robots', 'Turn-Based Tactics', 'Tanks', 'Destruction', 'Turn-Based Combat', 'Hacking', 'Action RPG', 'Isometric', 'Audio Production', 'Rogue-lite', 'Military', 'Surreal', 'Realistic', 'Fast-Paced', 'Wargame', 'Vampire', 'Offroad', 'Economy', 'Fishing', 'Short', 'Chess', 'Software', 'Level Editor', 'Pinball', 'Cats', 'Character Customization', 'Golf', 'Noir', 'Psychedelic', 'Runner', 'Football', 'Tennis', 'MOBA', 'Ninja', 'Underwater', 'Trading Card Game', 'Hunting', 'Competitive', 'Crime', 'Horses', 'Dragons', 'Side Scroller', 'Souls-like', 'Cold War', 'Magic', 'Politics', 'Assassin', 'Software Training', 'Hex Grid', 'Baseball', 'God Game', 'On-Rails Shooter', 'Sokoban', 'PvP', 'Procedural Generation', 'Hand-drawn', 'Word Game', 'Interactive Fiction', 'Villain Protagonist', 'Dark Humor', 'Aliens', 'Remake', 'Batman', 'Basketball', 'Motocross', 'Web Publishing', 'Online Co-Op', 'Soccer', 'Illuminati', 'Sniper', 'Trading', 'Space Sim', 'Mythology', 'Photo Editing', 'Wrestling', 'Action-Adventure', 'Mouse only', 'Cult Classic', 'Mini Golf', 'Masterpiece', 'Dog', '6DOF', 'Swordplay', 'Political', "1990's", 'Romance', 'Faith', '1980s', 'Martial Arts', 'Replay Value', 'Satire', 'Dark Fantasy', 'Typing', 'Mining', 'Bikes', 'Arena Shooter', 'Character Action Game', 'Multiple Endings', 'Resource Management', 'Split Screen', 'Bullet Time', 'Mars', 'Skateboarding', 'Games Workshop', 'Hockey', 'Dark', 'Comic Book', 'Abstract', 'Colorful', 'Rome', 'Submarine', 'Capitalism', 'Benchmark', 'Lara Croft', 'Old School', 'Experimental', 'Dystopian ', 'Futuristic', 'Science', 'BMX', 'Drama', 'Time Manipulation', 'Party-Based RPG', 'Time Travel', 'Real-Time with Pause', 'Lemmings', 'Documentary', 'Team-Based', 'Narration', 'Touch-Friendly', 'Motorbike', 'Pool', 'Werewolves', 'Snow', 'Quick-Time Events', 'Demons', 'Gambling', 'Spelling', 'Grid-Based Movement', 'Controller', 'Loot', '3D', 'Cartoony', '360 Video', 'Real-Time', 'Philisophical', 'Beautiful', 'Bowling', 'Gothic', 'Tactical RPG', 'Cycling', 'Cartoon', 'Voice Control', 'America', 'Linear', 'Heist', 'CRPG', 'Alternate History', 'Class-Based', 'Supernatural', 'Strategy RPG', 'Psychological', 'Score Attack', 'e-sports', 'Snowboarding', 'Real Time Tactics', 'Thriller', 'Dungeons & Dragons', 'Voxel', 'Moddable', 'Time Attack', 'Movie', 'Spectacle fighter', 'Inventory Management', 'Intentionally Awkward Controls', 'Perma Death', 'Kickstarter', 'Parody ', 'Cinematic', 'Nonlinear', 'Diplomacy', 'Sailing', 'Skating', 'Investigation', 'Mystery Dungeon', 'Music-Based Procedural Generation', 'Epic', 'GameMaker', 'Gun Customization', 'Conversation', '3D Vision', 'Mod', '2.5D', 'Blood', 'NSFW', 'Stylized', 'Logic']

In [62]:
games = []
for g in data.name:
    games.append(g)

print("Juegos: ", len(games))

Juegos:  27033

In [63]:
### Diccionario de todos los tag con sus correspondientes juegos
data_list = data.values.tolist()
tag_dict = {}
for t in tags:
    l = []
    for d in data_list:
        if d[1].split(';').count(t) > 0:
            l.append(d[0])
    tag_dict.update({t: l})

In [64]:
tag_dict.get('Dark')

['INSIDE',
 'The Guilt and the Shadow',
 'Albert and Otto',
 'Mortificatio',
 'Betweenside']

In [65]:
def tags_in_common(a, b):
    n = 0
    for i in a:
        for j in b:
            if i == j:
                n = n+1
    return n

In [66]:
G_tags = nx.Graph()
G_tags.add_nodes_from(tags)

tag_list = list(tag_dict.items())

i = 0
while i < len(tag_dict):
    print(i, end='\r')
    
    t1 = tag_list[i][1] # Lista de tags juego 1
    
    j = i + 1
    while j < len(tag_dict):
        t2 = tag_list[j][1] # Lista de tags juego 2
        
        n = tags_in_common(t1, t2)
        if n > 0:
            G_tags.add_edge(tag_list[i][0], tag_list[j][0], weight=n)
        
        j += 1
    i += 1

# i = 0
# while i < len(data_list):
#     print(i, end='\r')

#     t1 = data_list[i][1].split(';') # Lista de tags juego 1
    
#     j = i + 1 
#     while j < len(data_list): # Recorrer resto de juegos
#         t2 = data_list[j][1].split(';') # Lista de tags juego 2
        
#         n = tags_in_common(t1, t2)
#         if n > 0:
#             G_tags.add_edge(data_list[i][0], data_list[j][0], weight=n)
            

#         j += 1
#     i += 1

In [67]:
nx.number_of_nodes(G_tags)

339

In [68]:
nx.number_of_edges(G_tags)

3445

In [69]:
nx.write_gexf(G_tags, './TagNetwork2.gexf')

In [20]:
# G = nx.Graph()
# G.add_nodes_from(games)

# data_list = data.values.tolist()

# i = 0
# while i < len(data_list):
#     print(i, end='\r')

#     t1 = data_list[i][1].split(';') # Lista de tags juego 1
    
#     j = i + 1 
#     while j < len(data_list): # Recorrer resto de juegos
#         t2 = data_list[j][1].split(';') # Lista de tags juego 2
        
#         n = tags_in_common(t1, t2)
#         if n > 0:
#             G.add_edge(data_list[i][0], data_list[j][0], weight=n)
            

#         j += 1
    
#     i += 1

In [21]:
# nx.number_of_nodes(G)

8475

In [22]:
# nx.number_of_edges(G)

14534690

In [23]:
# nx.write_gexf(G, 'Seam.gexf')

In [47]:
# import csv

# with open('adj_list.csv', mode='w', encoding="utf-8") as file:
#     writer = csv.writer(file)
#     writer.writerow(["source", "target"])
    
#     i = 0
#     while i < len(data_list):
#         print(i, end='\r')

#         t1 = data_list[i][1].split(';') # Lista de tags juego 1

#         j = i + 1 
#         while j < len(data_list): # Recorrer resto de juegos
#             t2 = data_list[j][1].split(';') # Lista de tags juego 2

#             n = tags_in_common(t1, t2)
#             for m in range(n): # Añadir num de aristas correspondientes
#                 writer.writerow([data_list[i][0], data_list[j][0]])

#             j += 1

#         i += 1

In [17]:
# import csv

# with open('prueba.csv', mode='w', encoding="utf-8") as file:
#     writer = csv.writer(file)
#     writer.writerow(["source", "target"])
    
#     i = 0
#     while i < 100:
#         print(i, end='\r')

#         t1 = data_list[i][1].split(';') # Lista de tags juego 1

#         j = i + 1 
#         while j < 100: # Recorrer resto de juegos
#             t2 = data_list[j][1].split(';') # Lista de tags juego 2

#             n = tags_in_common(t1, t2)
#             for m in range(n): # Añadir num de aristas correspondientes
#                 writer.writerow([data_list[i][0], data_list[j][0]])

#             j += 1

#         i += 1